<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bienvenidos a Mercado Liebre</title>
    <link href="/css/home.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <script
      src="https://kit.fontawesome.com/9440e8cf98.js"
      crossorigin="anonymous"
    ></script>
</head>
<body>
     <!--HEADER-->
    <header class="main-header">
        <div class="main-header-top-bar">
          <img src="/img/logo-mercado-liebre.svg" class="logo" />
          <h2 class="copy-header">
            <i class="fa-solid fa-hand-holding-dollar"></i>
            Comprá en cuotas y sin interes
          </h2>
        </div>
        <a href="#" class="hamburguer-button">
          <i class="fa-solid fa-bars"></i>
        </a>
    </header>
     <!--MAIN-->
    <main class="main-login">
        <article class="gologear">
        <form action="/registro" method="get" class="registro-main">
            <div class="registro-form">
                <label></label>                
                <input type="text" name="usuario" placeholder="Nombre de Usuari@" class="control">
            </div>
           
            <div class="registro-form">
                <label></label>
                <input type="password" name="password" placeholder="Contraseña" class="control">
            </div>
            <input class="button" type="submit" name="Ingresar">
            <div class="pregunta"><a href="/register">¿Aún no estas registrado? Hace click AQUI</a> </div>
        </form>
    </article>
    </main>
     <!--FOOTER-->
     <footer>
        <article class="datosfooter">
        <div class="datos">
        <i class="fas fa-credit-card"></i>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo
          en puntos de pago. ¡Y siempre es seguro!
        </p>
        </div>
        <div class="datos">
        <i class="fas fa-gift"></i>
        <h3>Envío gratis desde $ 2.500</h3>
        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles
          de productos. Es un beneficio de Mercado Puntos.
        </p>
        </div>
        <div class="datos">
        <i class="fas fa-user-shield"></i>
        <h3>Seguridad, de principio a fin</h3>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </p>
      </div>
    </article>
        <div class="copyright">
        <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
      </div>
      </footer>
</body>
</html>